In [2]:
import pandas as pd
import numpy as np

path = 'C:/Users/elris/Dropbox/FBA/2020MiraeAsset/woogie/answer_sheet.csv'
answer_sheet = pd.read_csv(path)

path = 'C:/Users/elris/Dropbox/FBA/2020MiraeAsset/woogie/stocks.csv'
stocks = pd.read_csv(path, index_col = 0)

path = 'C:/Users/elris/Dropbox/FBA/2020MiraeAsset/woogie/trade_train.csv'
trade_train = pd.read_csv(path, index_col = 0)

In [3]:
group_list = sorted(list(set(trade_train['그룹번호'])))

In [129]:
path = 'C:/Users/elris/Dropbox/FBA/2020MiraeAsset/woogie/score/'+group_list[0]+'_score.csv'
score_df = pd.read_csv(path, index_col=0)

In [36]:
score_df = score_df.sort_index(ascending = False)

In [130]:
score_df

        A005930  A009150  A005935  A006400  A000270  A066570  A000660
201907      3.0      4.0      NaN      1.0      NaN      5.0      2.0
201908      5.0      2.0      1.0      NaN      NaN      3.0      4.0
201909      5.0      2.0      NaN      NaN      1.0      3.0      4.0
201910      5.0      1.5      NaN      1.5      NaN      3.0      4.0
201911      5.0      3.0      1.0      NaN      NaN      2.0      4.0
201912      5.0      1.0      2.0      NaN      NaN      3.0      4.0
202001      5.0      1.0      3.0      NaN      NaN      2.0      4.0
202002      5.0      2.0      3.0      NaN      NaN      1.0      4.0
202003      5.0      2.0      3.0      NaN      NaN      1.0      4.0
202004      5.0      2.0      3.0      1.0      NaN      NaN      4.0
202005      5.0      1.0      3.0      2.0      NaN      NaN      4.0
202006      5.0      NaN      3.0      2.0      NaN      1.0      4.0

In [118]:
# 단순지수평활(simple exponential smoothing)

a = 0.8
weight = []
for i in range(12) : 
    if i == 0 : 
        alpha = a
        weight.append(alpha)
    else : 
        alpha = alpha*(1-a)
        weight.append(alpha)

In [121]:
np.array(weight)

array([8.0000e-01, 1.6000e-01, 3.2000e-02, 6.4000e-03, 1.2800e-03,
       2.5600e-04, 5.1200e-05, 1.0240e-05, 2.0480e-06, 4.0960e-07,
       8.1920e-08, 1.6384e-08])

In [38]:
score_df['A005930']

202006    5.0
202005    5.0
202004    5.0
202003    5.0
202002    5.0
202001    5.0
201912    5.0
201911    5.0
201910    5.0
201909    5.0
201908    5.0
201907    3.0
Name: A005930, dtype: float64

In [53]:
score_df = score_df.fillna(0)

In [45]:
answer_sheet

      그룹명    종목번호1    종목번호2    종목번호3
0   MAD01  A000990  A052900  A123010
1   MAD02  A005380  A009830  A139130
2   MAD03  A033250  A089980  A317530
3   MAD04  A101330  A234100  A353810
4   MAD05  A123010  A200670  A215100
5   MAD06  A001840  A007660  A036930
6   MAD07  A001520  A200670  A200780
7   MAD08  A000440  A050120  A060370
8   MAD09  A102940  A105560  A307930
9   MAD10  A009830  A067080  A090410
10  MAD11  A003000  A195440  A239340
11  MAD12  A034730  A139130  A236200
12  MAD13  A028100  A036570  A049080
13  MAD14  A090410  A285130  A353810
14  MAD15  A001510  A058400  A131390
15  MAD16  A010140  A174880  A236200
16  MAD17  A047400  A066430  A200780
17  MAD18  A001510  A003490  A028100
18  MAD19  A089150  A115180  A257370
19  MAD20  A009240  A052900  A091990
20  MAD21  A096530  A239340  A248170
21  MAD22  A004020  A196490  A235980
22  MAD23  A015760  A044960  A105840
23  MAD24  A030350  A139130  A285130
24  MAD25  A005360  A009830  A025870
25  MAD26  A000990  A096530  A290550
26  MAD27  A042670  A068270  A217730
27  MAD28  A032640  A033170  A133750
28  MAD29  A000660  A005360  A096530
29  MAD30  A005930  A014100  A030200
30  MAD31  A044960  A090430  A141020
31  MAD32  A001510  A036930  A239340
32  MAD33  A035720  A052260  A123010
33  MAD34  A047400  A123010  A200670
34  MAD35  A033170  A068270  A282880
35  MAD36  A005360  A036930  A095610
36  MAD37  A003000  A011150  A166090
37  MAD38  A025440  A035420  A090430
38  MAD39  A051910  A200670  A228760
39  MAD40  A005930  A019170  A091990
40  MAD41  A005935  A023590  A060370
41  MAD42  A003000  A052260  A174880
42  MAD43  A000140  A006800  A105560
43  MAD44  A000140  A021080  A023530
44  MAD45  A000660  A000990  A030200
45  MAD46  A032640  A139050  A248170
46  MAD47  A003010  A090430  A317530
47  MAD48  A123010  A166090  A215100

In [49]:
score_df.columns[1]

'A009150'

In [50]:
len(score_df.columns)

7

In [172]:
# 그룹별로 루프
tmp = 0
for group in group_list : 
    path = 'C:/Users/elris/Dropbox/FBA/2020MiraeAsset/woogie/score/'+group+'_score.csv'
    score_df = pd.read_csv(path, index_col=0)
    score_df = score_df.fillna(0)
    score_df = score_df.sort_index(ascending = False)
    
    # 단순지수평활(simple exponential smoothing) 가중치
    a = 0.1
    weight = []
    for i in range(len(score_df)) : 
        if i == 0 : 
            alpha = a
            weight.append(alpha)
        else : 
            alpha = alpha*(1-a)
            weight.append(alpha)
            
    score_dict = {}
    
    # 그룹별 상위 3개 종목 추출
    for i in range(len(score_df.columns)) :
        item_num = 0
        sum_score = score_df[score_df.columns[i]]@np.array(weight)
        score_dict[score_df.columns[i]] = sum_score
        item_num = sorted(score_dict.items(), key=lambda x: x[1], reverse=True)
    answer_sheet['종목번호1'][tmp] = item_num[0][0]
    answer_sheet['종목번호2'][tmp] = item_num[1][0]
    answer_sheet['종목번호3'][tmp] = item_num[2][0]
    tmp += 1

In [156]:
path = 'C:/Users/elris/Dropbox/FBA/2020MiraeAsset/woogie/score/'+group_list[0]+'_score.csv'
score_df = pd.read_csv(path, index_col=0)
score_df = score_df.fillna(0)

In [157]:
score_df

        A005930  A009150  A005935  A006400  A000270  A066570  A000660
201907      3.0      4.0      0.0      1.0      0.0      5.0      2.0
201908      5.0      2.0      1.0      0.0      0.0      3.0      4.0
201909      5.0      2.0      0.0      0.0      1.0      3.0      4.0
201910      5.0      1.5      0.0      1.5      0.0      3.0      4.0
201911      5.0      3.0      1.0      0.0      0.0      2.0      4.0
201912      5.0      1.0      2.0      0.0      0.0      3.0      4.0
202001      5.0      1.0      3.0      0.0      0.0      2.0      4.0
202002      5.0      2.0      3.0      0.0      0.0      1.0      4.0
202003      5.0      2.0      3.0      0.0      0.0      1.0      4.0
202004      5.0      2.0      3.0      1.0      0.0      0.0      4.0
202005      5.0      1.0      3.0      2.0      0.0      0.0      4.0
202006      5.0      0.0      3.0      2.0      0.0      1.0      4.0

In [162]:
item_num = 0
sum_score = score_df[score_df.columns[i]]@np.array(weight)
score_dict[score_df.columns[i]] = sum_score
item_num = sorted(score_dict.items(), key=lambda x: x[1], reverse=True)
answer_sheet['종목번호1'][tmp] = item_num[0][0]
answer_sheet['종목번호2'][tmp] = item_num[1][0]
answer_sheet['종목번호3'][tmp] = item_num[2][0]

In [114]:
answer_sheet.head()

     그룹명    종목번호1    종목번호2    종목번호3
0  MAD01  A005930  A000660  A005935
1  MAD02  A005380  A009830  A139130
2  MAD03  A033250  A089980  A317530
3  MAD04  A101330  A234100  A353810
4  MAD05  A123010  A200670  A215100

In [ ]:
answer_sheet

In [174]:
answer_sheet.to_csv('C:/Users/elris/Dropbox/FBA/2020MiraeAsset/woogie/그룹예측(가중치: 0.8).csv', index=True)